*{
    padding: 0;
    margin: 0;
    border: 0; 
    box-sizing: border-box;
    list-style: none;

}

.logo{
    color: orangered;
    float: left;
    font-size: 35px;
    padding-top: 10px;
    font-family: Arial, Helvetica;
    padding-left: 20px;
}
.navbar{
  background-color: bisque;
} 
.navinfo{
    display: flex;
    justify-content: center;
    align-content: center; 
    padding:  10px;
    margin: 10px;
    font-size: larger;
    }
  .navstyle{
    display: flex;
   text-decoration: none;
  }  
    
.home{
    margin: 25px;
    font-weight: bold;
}
.home-sect{ 

  
  color: black;
  

  

}


.mavello-img{
  width: 120px;

  border-radius: 1550px;
  justify-content: center;
  align-content: center;

}
.home-info{
  
  justify-items: center;
  text-align: center;
  align-items: center;
}


  
#about {
  background-color: #f8f9fa;
  padding: 50px 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  color: #333;
}

p {
  font-size: 1.1em;
  color: #555;
  line-height: 1.6;
}
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
}

.container {
  max-width: 800px;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h1 span {
  color: #ffd700; 
}

h2 {
  font-size: 2em;
}

#skills {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.skill {
  margin-bottom: 30px;

}

.skill h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}


.progress {
  background: #ddd;
  border-radius: 25px;
  overflow: hidden;
  height: 25px;
}


.progress-bar {
  background: #ff5733;
  height: 100%;
  color: #fff;
  line-height: 25px;
  text-align: right;
  padding-right: 10px;
  border-radius: 25px 0 0 25px;
  transition: width 1s ease-in-out;
}
.contact-section form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact-section input, 
.contact-section textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.contact-section button {
  width: 150px;
  align-self: center;
}
.btn{
  color: #ff5733;
  border-radius: 10px;
  font-weight: bolder;
  background-color: #00f2fe;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 15px;
}

footer a {
  color: white;
  text-decoration: none;
}



